<div class="row">
  <div class="col-md-4"></div>
  <div class="col-sm-12 col-md-4">
    <div class="card control-panel__card-vertical-align">
      <div class="card-header" >
          <div class="d-flex justify-content-center">
            <h4>Control Panel</h4>
            </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input type="text" name="username" placeholder="User Name" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-center">
              <input type="checkbox" name="rememberMe" class="align-self-center control-panel__checkbox">Remember Me 
            </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <button type="submit" name="loginButton" class="btn btn-success control-panel__button-stretch">Login</button>
          </div>
        </div>
      </div> 
      <div class="card-footer">
          <div class="d-flex justify-content-center">
           <a href="#"> Forget Password</a>
          </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
